.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    cursor: pointer;
}
.home:hover{
    text-decoration: underline solid 2px white;
}
.explore:hover{
    text-decoration: underline solid 2px white;
}
.about:hover{
    text-decoration: underline solid 2px white;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #dcdbdb;
    font-weight: 600;
    color: #262626;
    cursor: pointer;
}
.nav-contact:hover{
    background: #898888;
    color: rgb(11, 9, 9);
}